<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Graph Visualiser</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


  <!-- Google Fonts -->
  <!-- 1. Ubuntu -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400;1,700&display=swap"
    rel="stylesheet">
  <!-- 2. Montserrat -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
  <!--  MyFont-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Fascinate&display=swap" rel="stylesheet">


  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/d0b66b11a8.js" crossorigin="anonymous"></script>

  {%load static%}
  <!-- My CSS file -->
  <link rel="stylesheet" href="{%static 'css/form.css'%}">
  <link rel="stylesheet" href="{%static 'css/styles.css'%}">

</head>

<body>
  <section id="title" class="colored-section">
    <div class="container-fluid">
      <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <h1 id="message" class="big-heading">Simulate <br> bfs and dfs<br> in <br> single <br> click.</h1>
        </div>
        <div class="col-lg-6 shrink">
        <div>
          <form action="/solve" method="get" class="decor myform">
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
            <h1 id="form-heading">Graph Inputs</h1>
            <input type="number" placeholder="Number of nodes" name="nodes">
            <input type="text" placeholder="DFS or BFS" name="algo">
            <textarea placeholder="Edges in the graph..." rows="5" name="edges"></textarea>
            <button type="submit" class="mybutton">Simulate</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Examples -->

  <section id="testimonials" class="colored-section">
  </section>


  <footer id="footer" class="white-section">
    <div class="container-fluid">
      <p>Thanks for visiting.</p>
    </div>
  </footer>



    <script>
        {#let state = document.getElementById("graph")#}
        {#let next = document.getElementById("next")#}
        {#let idx = 1#}
        {#next.addEventListener(onclick(), func);#}
        {#function func() {#}
            {#if (idx) >#}
        {#    idx += 1;#}

    </script>




</body>

</html>